 #slideshow {
    position: relative;
    width: 400px;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
}
 #slideshow-screen {
    -webkit-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
 #slideshow img {
    position: relative;
    display: block;
    width: 400px;
    height: 300px;
    float: left;
    border-top: solid;
    border-bottom: solid;
}
#slideshow {
    border-style: solid;
    border-color: black;
    padding-top : 10px;
    margin-top : 30px;
    margin-bottom : 20px;
    background-color: #c745a9;
}

body {
    background-color: ivory;
}

button {
    background-color : white;
}

.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c745a9), color-stop(1, #f2afdd));
	background:-moz-linear-gradient(top, #c745a9 5%, #f2afdd 100%);
	background:-webkit-linear-gradient(top, #c745a9 5%, #f2afdd 100%);
	background:-o-linear-gradient(top, #c745a9 5%, #f2afdd 100%);
	background:-ms-linear-gradient(top, #c745a9 5%, #f2afdd 100%);
	background:linear-gradient(to bottom, #c745a9 5%, #f2afdd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c745a9', endColorstr='#f2afdd',GradientType=0);
	background-color:#c745a9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ab19a6;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:14px;
	padding:9px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2afdd), color-stop(1, #c745a9));
	background:-moz-linear-gradient(top, #f2afdd 5%, #c745a9 100%);
	background:-webkit-linear-gradient(top, #f2afdd 5%, #c745a9 100%);
	background:-o-linear-gradient(top, #f2afdd 5%, #c745a9 100%);
	background:-ms-linear-gradient(top, #f2afdd 5%, #c745a9 100%);
	background:linear-gradient(to bottom, #f2afdd 5%, #c745a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2afdd', endColorstr='#c745a9',GradientType=0);
	background-color:#f2afdd;
}
.myButton:active {
	position:relative;
	top:1px;
}

